body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

#meme-image-container {
    background-color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black
}

#meme-image {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

#meme-text {
    font-size: 30px;
    color: white;
    position: absolute;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}