h1, p {
    text-align: center;
}

ol:hover {
    background-color: purple;
}

li:active {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style: none;
}